<div
  class="min-h-screen min-w-screen bg-slate-900 flex items-center justify-center p-5"
>
  <div
    class="w-full mx-auto rounded-xl shadow-xl relative overflow-hidden"
    style="max-width: 35rem"
  >
    <h1 class="text-white text-center py-10 text-3xl font-bold">
      Angular Calculator
    </h1>

    <!-- Calculator Screen -->
    <div class="w-full h-40 bg-white text-right">
      <!-- Function Screen -->
      <div class="w-full py-5 px-6 text-2xl text-dark font-thin">Function</div>

      <!-- Number Screen -->
      <div class="w-full py-5 px-6 font-thin text-6xl">100</div>
    </div>
    <!-- End of Calculator Screen -->

    <!-- Calculator buttons area -->
    <div class="w-full bg-gradient-to-b from-red-500 to-red-800">
      <!-- First buttons row -->
      <div class="flex w-full">
        <div class="w-2/4 border-r border-b border-red-400">
          <button
            class="w-full h-24 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light"
          >
            C
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-24 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light"
          >
            %
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-24 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light"
          >
            /
          </button>
        </div>
      </div>
      <!-- End of first row -->

      <!-- Second Buttons Row -->
      <div class="flex w-full">
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-24 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light"
          >
            7
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-24 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light"
          >
            8
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-24 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light"
          >
            9
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-24 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light"
          >
            *
          </button>
        </div>
      </div>
      <!-- End of Second row -->

      <!-- Third row -->
      <div class="flex w-full">
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-24 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light"
          >
            4
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-24 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light"
          >
            5
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-24 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light"
          >
            6
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-24 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light"
          >
            -
          </button>
        </div>
      </div>
      <!-- End of third row -->

      <!-- Fourth Row -->
      <div class="flex w-full">
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-24 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light"
          >
            1
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-24 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light"
          >
            2
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-24 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light"
          >
            3
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-24 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light"
          >
            +
          </button>
        </div>
      </div>
      <!-- End of Fourth row -->

      <!-- Last row -->
      <div class="flex w-full">
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-24 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light"
          >
            0
          </button>
        </div>
        <div class="w-1/4 border-r border-b border-red-400">
          <button
            class="w-full h-24 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light"
          >
            .
          </button>
        </div>
        <div class="w-2/4 border-r border-b border-red-400">
          <button
            class="w-full h-24 outline-none hover:bg-red-700 hover:bg-opacity-20 text-white text-xl font-light"
          >
            =
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
