<div
  class="min-h-screen min-w-screen bg-slate-900 flex items-center justify-center p-5"
>
  <div
    class="w-full mx-auto rounded-xl shadow-xl relative overflow-hidden"
    style="max-width: 35rem"
  >
    <h1 class="text-white text-center py-10 text-3xl font-bold">
      Angular Calculator
    </h1>

    <!-- Calculator Screen -->
    <div class="w-full h-40 bg-white text-right">
      <!-- Function Screen -->
      <div class="w-full py-5 px-6 text-2xl text-dark font-thin">Function</div>

      <!-- Number Screen -->
      <div class="w-full py-5 px-6 font-thin text-6xl">100</div>
    </div>
  </div>
</div>
